---
import { Image } from "astro:assets";
import Bento1 from "@/assets/images/Bento1.webp";
---

<section class="grid md:grid-cols-2 h-screen">
    <div class="bg-[#FDB827] flex items-center justify-center p-16 min-h-150">
        <div class="relative w-full max-w-md">
            <div class="relative w-full max-w-md">
                <Image
                    src={Bento1}
                    alt="Bento box"
                    class="w-full h-full object-cover"
                    loading="eager"
                />
            </div>
        </div>
    </div>
    <div
        class="bg-[#FF4D5A] flex items-center justify-center p-16 text-white min-h-150"
    >
        <div class="max-w-lg">
            <h1 class="text-white mb-8 text-5xl">
                We help to boost your digital business
            </h1>
            <p class="text-white/90 mb-10 text-3xl leading-normal font-light">
                Lorem ipsum dolor sit amet, consetetur sadipscing elit
            </p>
            <button
                class="bg-white text-[#FF4D5A] px-5 py-4 hover:bg-black hover:text-white transition-colors cursor-pointer"
            >
                Get Started
            </button>
        </div>
    </div>
</section>
