---
import { Image } from "astro:assets";
import Bento1 from "@/assets/images/bento1.webp";
---

<section class="grid md:grid-cols-2 min-h-screen">
    <div
        class="bg-[#FDB827] flex items-center justify-center p-16 min-h-150 relative"
    >
        <div class="relative w-full max-w-md">
            <div class="relative w-full max-w-md">
                <Image
                    src={Bento1}
                    alt="Bento box"
                    class="w-full h-full object-cover"
                    loading="eager"
                />
            </div>
        </div>
        <div
            class="absolute bottom-0 right-0 bg-black w-138 pb-5 md:block hidden"
        >
            <div class="mx-12 text-white">
                <h2 class="mt-10 uppercase font-bold text-base mb-5">
                    web projects
                </h2>
                <p class="text-base">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam erat, sed diam voluptua. At vero eos et accusam et
                    justo duo dolores et ea rebum. Stet clita kasd.
                </p>
            </div>
        </div>
    </div>
    <div
        class="bg-[#FF4D5A] flex items-center justify-center text-white min-h-150 px-12 md:px-28"
    >
        <div class="max-w-md">
            <h1
                class="text-white mb-8 text-4xl md:text-5xl font-bold leading-tight"
            >
                We help to boost your digital application
            </h1>
            <p
                class="text-white/90 mb-10 text-xl md:text-2xl leading-relaxed font-light"
            >
                Lorem ipsum dolor sit amet, consetetur sadipscing elit
            </p>
            <button
                class="bg-white text-[#FF4D5A] px-8 py-3 hover:bg-black hover:text-white transition-colors cursor-pointer uppercase font-semibold text-sm"
            >
                Hire Us
            </button>
        </div>
    </div>
</section>
