---
import "@/styles/global.css";
import ClientRouter from "astro/components/ClientRouter.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>
			Managero RD - Transformamos marcas en experiencias digitales
			impactantes.
		</title>
		<meta
			name="og:title"
			content="Managero RD - Transformamos marcas en experiencias digitales impactantes."
		/>
		<meta
			name="description"
			content="Managero RD - Es una agencia especializada en el desarrollo de p치ginas web, marketing digital y posicionamiento SEO. Creamos aplicaciones, sistemas de facturaci칩n e integraciones que conectan sitios web, redes sociales y pasarelas de pago para optimizar procesos y aumentar las ventas."
		/>
		<meta name="og:image" content="/og.png" />
		<meta property="og:site_name" content="Managero RD" />
		<meta name="og:type" content="website" />
		<meta name="og:url" content="https://managerord.com/" />
		<meta
			property="twitter:description"
			content="Managero RD - Es una agencia especializada en el desarrollo de p치ginas web, marketing digital y posicionamiento SEO. Creamos aplicaciones, sistemas de facturaci칩n e integraciones que conectan sitios web, redes sociales y pasarelas de pago para optimizar procesos y aumentar las ventas."
		/>
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:image" content="/og.png" />
		<meta name="twitter:title" content="Managero RD" />
		<meta name="author" content="Jhossua Roa Rodriguez" />
		<meta name="robots" content="follow, index" />
		<meta name="theme-color" content="#D19789" />
		<ClientRouter />
	</head>
	<body class="min-h-screen bg-white">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: var(--font-sans);
	}
</style>
